{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>COMUNICA</title>
  </head>

  <body style="background-color: #0D3D61;">
    <img src="{% static 'img/banner.png' %}" class="img-fluid" alt="comunica">
    <main>
          <section id="introducao" style="margin-top: 2rem; color:white;">
            <div class="container"style="text-align: justify;">
            <h1>Conheça o COMUNICA</h1>
                <p>O projeto iniciou-se com a ideia de melhorar a comunicação entre os cidadãos e a Prefeitura de Itapira, no interior do estado de São Paulo, e assim, resolver problemas da cidade. A melhor solução abordada foi a criação de um aplicativo de comunicação direta com os agentes da prefeitura, onde os moradores do município podem denunciar os problemas locais, como por exemplo, buracos na rua, reparos de locais públicos, entre outros. São obstáculos que persistem de forma negativa na vida dos habitantes e precisam ser resolvidos. </p>
                <p>Por meio do aplicativo, os usuários poderão relatar os problemas através de postagens com texto, imagens e vídeos descrevendo o obstáculo; e poderão votar nas postagens, de forma positiva ou negativa, de outros usuários. As postagens serão organizadas na página inicial do aplicativo pelo sistema de votos como um ranking, portanto, as postagens com mais votos positivos ganharão prioridade no carregamento da tela inicial e aparecerão no topo da lista com maior visibilidade, enquanto as postagens com mais votos negativos vão sendo rebaixadas e vão perdendo a visibilidade. Desta forma, as reclamações vão sendo direcionadas assertivamente para a prefeitura pelo seu grau de relevância que é determinado pelos próprios usuários por meio do aplicativo.</p>
                <p>Os agentes da prefeitura também poderão realizar postagens, a fim de responder os habitantes e informá-los de novas atualizações.</p>
              </section>
        </div>
          <section id="forms" style="margin-top: 2rem; color:white;">
            <div class="container">
              <h2>Escreva um comentário:</h2>
              <form method="post" action="{% url 'comentarios' %}">
                    {% csrf_token %}
                    {% for form_field in form %}
                    <div class="form-group">
                      {{form_field.errors}}
                      {{form_field.label}}
                      {{form_field}}
                    </div>
                    {%endfor%}
                    
                    <input class="btn btn-primary" style="margin-bottom: 3rem;" type="submit" value="Enviar">
                </form>

                {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      {% endfor %}
                  </ul>
                {% endif %}
               
                <h2>Comentários:</h2>
                <div class="card" style="width: 80;">
                  <div class="card-body" style="color:black">
                    {% for comentario in comentarios.all %}
                      <h5 class="card-title">{{ comentario.nome }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ comentario.publicado }}</h6>
                      <p class="card-text">{{ comentario.comentario }}</p>
                    {% empty %}
                      <p>Nenhum comentário aprovado.</p>
                    {% endfor %}
                  </div>
                </div>                 
              </div>
            </section>
        </div> 
    </main>
    <footer class="footer" style="background-color: #0D3D61; margin-top: 3rem; height: 50px; padding: 10px;">
      <p class="text-center" style="color: white;"><b>COMUNICA &copy; 2023</b></p>
    </div>
    </footer>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>